<!DOCTYPE html>
<html>
    <head>
        <title>LocalTable</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../../stylesheets/detail_meal.css" rel="stylesheet" type="text/css" media="screen" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

        <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <div class="row">
            <div class="col">
              <i id="back_button" onclick="history.back(-1)" class="fa fa-angle-left" style="font-size:48px;color:white;position:absolute;top:0%;left:4%"></i>
              <a class="thumbnail">
                <img src=<%= meal.Image%> alt="Upload Image">
              </a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h1><b><%= meal.Name %> <span style="font-size:22px;color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span></b></h1>
                
            </div>
            <div class="row" style="padding-right:10%;">
                <p><%= meal.Description %></p>
            </div>
            <br>
            <div class="row">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <%= meal.Location %>
            </div>
            <br>
            <div class="row">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                This meal is for a party of <%= meal.PartySize%>
            </div>
            <div class="row">
                <div class="inline">
                    <% if (meal.CookingLesson){ %>
                        <p style="color:green">Cooking lesson is available</p>
                    <% } else{ %>
                        <p style="color:red">Cooking lesson is not available</p>
                    <% }%>
                </div>
                <div class="inline" style="">
                    <h1>&nbsp&nbsp<b>$<%= meal.Price%></b></h1>
                </div>

            </div>
            <hr>
            <h3><b style="position: absolute;left: 19px;">Reviews</b></h3>
            <br>
            <br>
            <div class="row">
                <p>08.26.2016</p>
                <p>First time here, food is good, but it's expensive. Not feel most welcome here, but it's fine.</p>
                <p>I had sushi and rolls at the bar with my girlfriend. That was delicious. But again, the service is not that good as the food. We will come back.</p>
                <br>
            </div>
            <form>
                <a href="../checkout/<%= key %>"> 
                    <button id="fixedbutton" style="border-radius:20px;" type="button" class="btn btn-success btn-lg btn-block">Confirm</button>
                </a>
            </form>
        </div>

        <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyD5zq2uo3qneLzBxKoyDdqXCQcOQ6GTvAA",
            authDomain: "localtables-28928.firebaseapp.com",
            databaseURL: "https://localtables-28928.firebaseio.com",
            storageBucket: "localtables-28928.appspot.com",
          };
          firebase.initializeApp(config);
        </script>
        <script src="../../javascripts/auth.js"></script>
        <script src="../../javascripts/meals.js"></script>
        <script src="../../javascripts/form.js"></script>
    </body>
</html>