<!DOCTYPE html>
<html>
    <head>
        <title>LocalTable</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../../stylesheets/checkOut.css" rel="stylesheet" type="text/css" media="screen" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

        <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(51,51,51,0.78)">
          <div class="container">
            <i id="back_button" onclick="history.back(-1)" class="fa fa-angle-left" style="font-size:48px;color:white;position:absolute;top:0%;left:4%"></i>
            <h4>Confirm Purchase</h4>
          </div>
        </nav>

        <div class="row" style="margin-top:50px;">
            <div class="col">
              <p style="color:white">Agree to pay this amount?</p>
              <h1 style="color:white" id="price_meal">$<%= meal.Price%></h1>
              <a class="thumbnail">
                <img src=<%= meal.Image%> alt="Upload Image">
              </a>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h2 id="name_meal"><b><%= meal.Name%> <span style="font-size:22px;color:green;" class="glyphicon glyphicon-ok" aria-hidden="true"></span></b></h2>
                
            </div>
            <div id="description_meal" class="row" style="padding-right:10%;">
                <p1><%= meal.Description%></p1>
            </div>
            <br>
            <div class="row">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                <%= meal.Location%>
            </div>
            <br>
            <div class="row">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                This meal is for a party of <%= meal.Party%>
            </div>
            <br>
            <div class="row">
                <div class="inline">
                    <% if (meal.CookingLesson){ %>
                        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                        <p1 style="color:green">Cooking lesson is available</p1>
                    <% } else{ %>
                        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
                        <p1 style="color:red">Cooking lesson is not available</p1>
                    <% }%>
                </div>
            </div>
            <br>
            <form>
                <!-- <a href="./review"> -->
                    <button id="fixedbutton" style="border-radius:20px;" type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">Let's Eat</button>
                <!-- </a> -->
            </form>
        </div>

        <!-- Trigger the modal with a button -->
<!--     <button type="button" id="trigger-pay" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal">Let's Eat</button> -->

    <!-- Modal -->
      <div id="myModal" class="modal fade" style="position:absolute;" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="background-color:deepskyblue">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span style="color:white" class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            <p2 class="modal-title" style="color:white">This is a secure SSL Encrypted payment.</p2>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="card_number">Card Number</label><br>
                <input type="text" class="form-payment" id="dish_name" placeholder="4242424242424242">
              </div>
              <div class="form-group">
                <label for="card_number">CVC</label><br>
                <input type="text" class="form-payment" id="dish_name" placeholder="123">
              </div>
              <div class="form-group">
                <label for="month_sel">Exp Month</label>
                <select class="form-payment" id="month_sel">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
              <div class="form-group">
                <label for="year_sel">Exp Year</label>
                <select class="form-payment" id="year_sel">
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
                  <option>2023</option>
                  <option>2024</option>
                  <option>2025</option>
                  <option>2026</option>
                  <option>2027</option>
                  <option>2028</option>
                </select>
              </div>
              <div class="form-group">
                <label for="card_number">Full Name on Card</label><br>
                <input type="text" class="" id="card_holder_name" placeholder="Jon Doe">
              </div>
              <form>
                <a href="../meals">
                  <button style="border-radius:20px;" type="submit" id="pay-meal" data-dismiss="modal" class="btn btn-success btn-lg btn-block">Complete Transaction </button>
                </a>
            </form>
          </div>
        </div>
      </div>
    </div>
        <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/stripe-debug.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyD5zq2uo3qneLzBxKoyDdqXCQcOQ6GTvAA",
            authDomain: "localtables-28928.firebaseapp.com",
            databaseURL: "https://localtables-28928.firebaseio.com",
            storageBucket: "localtables-28928.appspot.com",
          };
          firebase.initializeApp(config);
        </script>
        <script src="../../javascripts/meals.js"></script>
        <script src="../../javascripts/payment.js"></script>
    </body>
</html>